body {
    margin: 100px;
    background: rgb(141,246,8);
    background: linear-gradient(90deg, rgba(141,246,8,1) 0%, rgba(0,212,255,1) 100%, rgba(121,50,9,1) 100%);
}

.casio {
    font-weight: bolder;
    text-transform: uppercase;   
}

.but {
    font-size: 30px;
}

.blankbutton {
    font-size: 35px
}

/* .but {
    background-color: firebrick;
} */